body {
  box-sizing: border-box;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  max-width: 800px;
  margin: 10vh auto 0;
}

/* Form */
form {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
form input {
  padding: 0 0 0 0.5rem;
  width: 75%;
  height: 1.5rem;
  border: 0;
}
form .submit-btn {
  padding: 0;
  width: 25%;
  height: 1.5rem;
  border: 0;
}
form .submit-btn:hover {
  cursor: pointer;
  background-color: rgb(213, 213, 213);
}

/* Search suggestions */
.search-suggestions {
  width: 75%;
  max-width: 500px;
  margin: 0.3rem auto 0 0;
  padding: 0;
  border: 0;
}

.search-suggestions li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.search-suggestions button {
  width: 100%;
  border: none;
}

.search-suggestions button:hover {
  background-color: rgb(213, 213, 213);
  border: none;
  cursor: pointer;
}
